# Jekyll Site settings

# Course title
title: CSC 207 (Fall 2024)

# baseurl is used for redirects on the same server.
# url is the full path name
baseurl: /Courses/CSC207/2024Fa
url: https://rebelsky.cs.grinnell.edu/Courses/CSC207/2024Fa/

# Are we online?  If not, we're in person.  (Some of the lab instructions are
# affected by this choice.)
online: false

# Are we in a term (seven weeks)?  If not, we're in a semester
term: false

# Set the theme color. Options are blue, green, red, orange, purple, and gray
color: teal

instructor: Samuel A. Rebelsky

instructor_title: Professor Rebelsky

instructor_homepage: https://rebelsky.cs.grinnell.edu

instructor_email: rebelsky@grinnell.edu

meeting_times:
  - TuTh 8:00&ndash;9:50 AM CT in Science 3813 (Section 1)
  - TuTh 2:00&ndash;3:50 PM CT in Science 3813 (Section 2)

office_hours:
  - WF 1:30&ndash;3:30 PM CT
  - "[Book office hours](https://outlook.office365.com/owa/calendar/SamuelARebelsky@grinco.onmicrosoft.com/bookings/)"

mentors: 
  - Maria Rodriguez (Section 1)
  - Garikai Gijima (Section 2)

mentor_sessions:
  - TBD

tutors:
  - Sundays, 3:00&ndash;5:00 PM CT; Sundays through Thursdays, 7&ndash;10 PM in Science 3813 and 3815
  - Not all evening tutors are prepared to support CSC 207 students.

all_work_deadline:  5:00 PM on Friday, 20 December 2024
# final_exam_time: TBD

copyright: |
  Copyright &copy; Samuel A. Rebelsky

copyright_message: |
  Unless specified otherwise elsewhere on this page,
  this work is licensed under a Creative Commons Attribution 3.0 Unported
  License. To view a copy of this license, visit
  <http://creativecommons.org/licenses/by-nc/3.0/> or send a letter to Creative
  Commons, 543 Howard Street, 5th Floor, San Francisco, California, 94105, USA.

java_api: https://docs.oracle.com/en/java/javase/17/docs/api/java.base

# Be picky about front-matter
strict_front_matter: true

# Set up collections for course content
collections:
  admin:
    output: false

  eboards:
    output: true
    permalink: /eboards/:path.html

  handouts:
    output: true
    permalink: /handouts/:path.html

  los:
    output: true
    permalink: /los/:path.html

  labs:
    output: true
    permalink: /labs/:path.html

  links:
    output: true
    permalink: /links:path.html

  mps:
    output: true
    permalink: /mps/:path.html

  readings:
    output: true
    permalink: /readings/:path.html

  sandbox:
    output: true
    permalink: /sandbox/:path.html

# Default layouts
defaults:
  - scope:
      path: ""
    values:
      layout: default
  
  - scope:
      path: ""
      type: mps
    values:
      link: false
      layout: assigned
      collaboration: |
        You must work individually on this assignment.
        You may only discuss this assignment with the course staff.

  - scope:
      path: ""
      type: labs
    values:
      link: true
      section: Lab
      layout: assigned
      no-due-message: |
        Lab writeups are always due by Sunday 5:00 PM central the week they are assigned.
        However as a general rule, try to complete labs *the day that they are assigned*, so that you do not fall behind!

  - scope:
      path: ""
      type: readings
    values:
      link: true
      layout: assigned

  - scope:
      path: ""
      type: sandbox
    values:
      link: true
      layout: assigned

# Build settings
exclude:
  - admin
  - Gemfile
  - Gemfile.lock
  - INSTRUCTOR.md
  - LICENSE
  - Makefile
  - README.md
  - bin
  - tasks
  - vault
markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'
    default_lang: drracket
    span:
      line_numbers: false
    block:
      line_numbers: false

# Plugin Settings
plugins:
  - jekyll-bootstrap-sass
  - jekyll-include-cache

bootstrap:
  assets: true
