# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse/VSCode stuff
bin
.classpath
.vscode

# Maven target directory
target

# Temporary files
*~
*.bak
*.swp
*.tmp

# Strange macOS files
.DS_Store

